body{
background:#0b0b0b;
color:white;
font-family:Arial;
}

.container{
max-width:900px;
margin:40px auto;
background:#151515;
padding:30px;
border-radius:15px;
}

h1{
text-align:center;
}

button,select{
padding:10px;
margin:5px;
background:#e40424;
color:white;
border:0;
border-radius:8px;
}

table{
width:100%;
margin-top:20px;
border-collapse:collapse;
}

td,th{
padding:12px;
border-bottom:1px solid #333;
text-align:center;
}

tr:hover{
background:#222;
}
